.animation-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: endAnimation 750ms ease-in-out 1200ms;
    animation-fill-mode: forwards;
    span{
        margin-left: 0.37em;
        vertical-align: middle;
    }
    .logo-icon{
        font-size: 3.5rem;
        animation: moveIcon 750ms ease 150ms infinite;
        color: rgb(95, 181, 231);
    }
    h1{
        opacity: 0;
        font-size: 3.5rem;
        animation: titleTransition 750ms ease 100ms;
        animation-fill-mode: forwards;
    }
    p{
        opacity: 0;
        font-size: 0.75rem;
        margin-top: 3em;
        animation: pTransition 750ms ease 400ms;
        animation-fill-mode: forwards;
        color: rgba(255, 255, 255, 0.6);
    }
}

@keyframes titleTransition {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}

@keyframes pTransition {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes endAnimation {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        height: 0;
    }
}

@keyframes moveIcon {
    0%{
        transform: rotate(30deg);
    }
    50%{
       transform: rotate(-30deg);
    }
    100%{
        transform: rotate(30deg);
     }
}

@media (max-width: 900px){
    .animation-container{
        .logo-icon, h1{
            font-size: 2.3rem;
        }
    }
}