@import './colors';

.city-data{
    grid-area: c;
    // background-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6px;
    justify-items: center;
    align-items: center;
    .card{
        width: 100%;
        padding: 1rem;
        // background-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "icon title"
            "icon number";
        grid-column-gap: 10px;
        .title{
            grid-area: title;
            font-size: 1rem;
        }
        .number{
            grid-area: number;
        }
        .icon{
            grid-area: icon;
            align-self: center;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 500px){
    .city-data{
        background-color: rgba(0, 0, 0, 0.1);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .card{
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.3);
            grid-template-columns: 0.5fr 2fr 1.5fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "icon title number";
            justify-items: center;
            align-items: center;
        }
    }
}
