
.daily{
    grid-area: b;
    .each-day{
        background-color: rgba(0, 0, 0, 0.4);
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:nth-last-of-type(1){
            margin-top: 5px;
        }
    }
}