@import './colors';

.form {
    display: flex;
    align-items: center;
    input{
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.05);
        opacity: 0.65;
        width: 40ch;
        padding: 1.5ch;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin-right: .7em;
        color: $font-color;
        transition: all 200ms ease-in;
        &::placeholder{
            color: $font-color;
        }
        &:hover, &:focus{
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid transparent;
            outline: none;
        }
    }
    button{
        background-color: transparent;
        border: none;
        color: $font-color;
        font-size: 1rem;
        transition: 150ms ease-in;
        &:hover{
            transform: scale(1.1);
        }
    }
}

@media (max-width: 900px){
    .form{
        justify-content: center;
        margin-bottom: 1rem;
        input{
            width: 80%;
            padding: 1rem;
        }
    }
}